.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.content {
  display: grid;
  border: 1px solid #555;
}

.config {
  position: absolute;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
  left: 0%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 200px;
  text-align: center;
}

.color {
  display: block;
  width: 100px;
  height: 100px;
  border: none;
}
